---
layout: page
title: download
subtitle: Some tools & scripts
permalink: /download/
---
<!--
<section class="post-tags">
    {% assign tags_list = site.tags %}
    
    {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
    <a class="post-tags-item" href="#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
    {% else %}
    {% for tag in tags_list %}
    <a class="post-tags-item" href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
    {% endfor %}
    {% endif %}
    
    {% assign tags_list = nil %}

</section>

<hr>

    {% for tag in site.tags  %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] | capitalize }}</h2>
    
    <ul>
        {% assign pages_list = tag[1] %}
        {% for post in pages_list reversed %}
        {% if post.title != null %}
        {% if group == null or group == post.group %}
        <li>
		<p><a href="{{ site.url }}{{ post.url | prepend: site.baseurl }}">
			{{ post.title }}</a><span class="date"><time datetime="{{ post.date | date_to_long_string }}"> - {{ post.date | date_to_long_string }}</time></span></p>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>
    {% endfor %}
-->


<header>
        
    <h2>bbedp</h2>
    <p>download
    <a href="/download/bbedp.zip"  download="bbedp.zip">bbedp</a>
   </p>
        <p>Readme</p>
    </header>
    <p> 
    This script is used to print and edit block offset of PostgreSQL pages,in python 2.7 .And you can use it only on Linux,if you want to use it on other platfrom like AIX ,maybe you could edit it again youself,good luck!

Just find the $PGDATA,oid of database and relfilenode into ./file and then u can use it now! 
For $PGDATA  excute "echo $PGDATA" or "ps -ef | grep postgres" to find the data directory!!! 
For others,just run "select pg_relation_filepath('t1');" to find the file path.
And edit the ./file like '/oracle/soft/pg_data/base/13323/16422'
And then ,run chmod 755 bbedp,and execute "./bbedp" ,the new world is here.

If you have any problem about it, please concat with me.

Mail:whf307@gmail.com
*******************************************************************************************
Ex:
[pg@whf307 soft]$ more file
/oracle/soft/pg11rc_data/base/13285/16394
[pg@whf307 soft]$ ./bbedp 
Password: 

BBEDP: Release 0.1.0.0.0 - Limited Production on Thur Nov 01 14:06:31 2018

Copyright (c) 2018, 2018, whf307 and/or its affiliates.  All rights reserved.

************* !!! For PostgreSQL Internal Test only !!! *************** 

BBEDP> help
set block [blpck_offset]
set count [bytes_to_display]
set offset  [offset_to_dump]
map :map the struct
d   :dump the offset
p   :print offset
p PageHeaderData :to print the page header struct
p Linps :to print the linps
p linp[n] :to print the linp[n]
p Tuples: print all tupels
p tuples [n]:print the tuple n
p Pd_special : print pd_special
m /x aaaa offset bbbb :to modify the offset
exit :quit the program
BBEDP> 
BBEDP> exit
[pg@whf307 soft]$
*******************************************************************************************

    </p>
    <h2>passwd</h2>
    <p>download
    <a href="/download/passwd.py"  download="passwd.py">passwd.py</a>
   </p>
   <p>
       a scripts to gererate a string password ,just run python passwd.py
   </p>