<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
</head>
<p>
	<br>
</p>
  <div class="wrapper">
    <center>
    <p><a class="link" href="https://whf307.github.io">Home</a> /  
		<a class="link" href="{{ site.baseurl }}/category/">Blog</a> / 
		<a class="link" href="{{ site.baseurl }}/tags/">Download</a> / 
		<a class="link" href="{{ site.baseurl }}/about/">About me</a> 
        </p>
    </center>
    
  </div>