<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/PostgreSQL/' %} active {% endif %}"><a href="{{ "/PostgreSQL/" | absolute_url }}">PostgreSQL</a></li>
  <li class="{% if page.url contains '/Oracle/' %} active {% endif %}"><a href="{{ "/Oracle/" | absolute_url }}">Oracle</a></li>
  <li class="{% if page.url contains '/Life/' %} active {% endif %}"><a href="{{ "/Life/" | absolute_url }}">Life</a></li>
  <li class="{% if page.url contains '/download/' %} active {% endif %}"><a href="{{ "/download/" | absolute_url }}">Download</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About me</a></li>
  
</ul>
