<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
				</header>
				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
						
					</nav>

				<!-- Main -->
				<div id="main">
					<p>test</p>
					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
