---
layout: default
---

  <header class="post-header">

    <center><div class="post-title" itemprop="name headline">{{ page.title }}</div>

		<div class="post-meta"><i class="fa fa-calendar-o"></i> <time datetime="{{ page.date | date_to_string }}" itemprop="datePublished">{{ page.date | date: "%b %-d %Y" }}</time>
    </center>
    
</header>

<div class="post-content">
    <center>
	{% if page.subtitle %}
	<p>{{ page.subtitle }}</p>
	{% endif %}
    </center>
	<h2>Directory</h2>
</div>

<div id="category"></div>

<div class="post-content" itemprop="articleBody">
    {{ content }}
</div>

<div>
	{% if page.finished %}
	<div class="eof"></div>
	{% endif %}
</div>

{% include disqus.html %}

</article>

{% if site.intensedebate_comments %}
   {% include intensedebate-comments.html %}
{% endif %}