<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}
		<style>
        .layui-side{
            position:fixed;
            width:200px;
            top:0;
            bottom:0;
            background-color: #393D49;
        }
    </style>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<header id="header">

				</header>
				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
						
					</nav>

				<!-- Main -->
				<div id="main">
					<!-- Post -->
					<div class="layui-side layui-bg-black">
					{% for category in site.categories %}
					<ul>
    				<li><a href="{{ site.baseurl}}/category/{{ category.first }}.html">{{category.first}}（{{category.last.size}}）</a></li>
					</ul>
					{% endfor %}
					</div>
					<section class="posts">
						{% for category in site.categories %}
    						{% if category.first == page.category %}
     						   {% for post in category.last %}
					<div class="article">
    					<div class="well">
       						 <h1 class="none"><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }} {{ post.date | date: "（%Y年%m月%d日）" }}</a></h1>
       						 <div class="content">{{ post.excerpt | strip_html }}</div>
    					</div>
					</div>
        					{% endfor %}
    					{% endif %}
					{% endfor %}
					
					</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}
			


	</body>
</html>
