<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<!--
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>
                -->
				<header id="header">
					<!--
					<a href="{{ "/" | absolute_url }}" class="logo"></a>
					-->
				</header>
				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
						
					</nav>

				<!-- Main -->
				<div id="main">
			<!--
          <article class="post featured">
            <header class="major">
              <p>Yes, there were times I'm sure you knew</p>
            </header>
          </article>
      -->
					<!-- Post -->
					<section class="posts">
						<!--
						{% for post in site.posts %}
						-->
						{* for post in site.categories.pg *}
						{% assign mod3 = forloop.index | modulo: 3 %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h4><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h4>
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Read More</a></li>
								</ul>
							</article>
							{% if mod3 == 0 %}
							<article>
								<header>
									<h2><a href="#">Sponsored</a></h2>
								</header>

							</article>
							{% endif %}
						{% endfor %}
					<!-- here
					{* for post in site.categories.pg *}
         			{% assign mod3 = forloop.index | modulo: 3 %}
						<article>
							<header>
								<span class="date">{{ post.date | date_to_string }}</span>
								<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
							</header>
							<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
							<ul class="actions">
								<li><a href="{{ post.url | absolute_url }}" class="button">Read More</a></li>
							</ul>
							</article>
							{% if mod3 == 0 %}
							<article>
								<header>
									<h2><a href="#">Sponsored</a></h2>
								</header>

							</article>
							{% endif %}
					{* endfor *}
-->
					</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
